<div class="bookmarks-page">

  <div class="bookmarks-header">

    <h1>
      Your Bookmarks
    </h1>

  </div>

  <!-- LOADING -->

  <div class="empty"
       *ngIf="isLoading">

    Loading bookmarks...

  </div>

  <!-- EMPTY -->

  <div class="empty-state"
       *ngIf="!isLoading && bookmarks.length === 0">

    <div class="empty-icon">
      🔖
    </div>

    <h3>
      No bookmarks yet
    </h3>

    <p>
      Save articles to quickly access them later.
    </p>

  </div>

  <!-- BOOKMARKS -->


  <div class="articles-grid"
       *ngIf="!isLoading && bookmarks.length > 0">

    <div class="article-card"
         *ngFor="let article of bookmarks">

      <div class="card-top">

        <h2>
          {{ article.title }}
        </h2>

        <p>

          {{
            article.content.length > 180
              ? (article.content | slice:0:180) + '...'
              : article.content
          }}

        </p>

      </div>

      <div class="card-footer">

        <button type="button"
                 class="btn-primary"
                (click)="readArticle(article.articleId)">

          Read Article

        </button>

      </div>

    </div>

  </div>

</div>
